/* angry tools gradient */
/*sample figma files*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root{

    --lt-background: #79ace2;
    --lt-violet: hsl(268, 47%, 21%);
    --lt-text:rgb(212, 210, 210);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
    --vb-yellow: hsl(52, 100%, 62%);
    --pl-white: white;
    --ry-blue: #15a3f6;
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    background: linear-gradient(90deg, #79ace2 0%, #79ace2 0%, #79ace2 100%);
    flex-direction: column;
    transition: all 0.3s linear;
}
.container{
   width: 90%;
   max-width: 450px;
}


h1{
    color:  var(--pl-white);
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}

.display-container{
    position:relative;
    background-color: var(--pl-white);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-violet);
    margin: 1rem 0;
    padding-top:0.35rem;

    
}

.display{
    width: 100%;
    background-color: transparent;
    outline: none;
    border:none;
    padding: 1.15rem 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.55rem;
}

.display::placeholder{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    opacity:0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.display-container button{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);

}

.input-container{
    
    background-color: rgba(7, 7, 7, 0.194);
    border-radius: 1rem;
    padding:2rem;
    box-shadow: rgba(12, 12, 12, 0.35) 0px 5px 15px;

}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-container p:nth-child(1) {
    color: var(--lt-text);
    font-size: 1.5rem;
}

.length-container p:nth-child(2){
    color: var(--lt-text);
    font-size: 1.5rem;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.strength-container p{
    color: var(--lt-text);
    font-size: 1.5rem;
}
.strength-container .indicator{
    width:1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input{
    appearance: none; /*to remove default style*/
    width: 20px;
    height: 20px;
    border: 1px solid var(--ry-blue);
    cursor:pointer;
    position: relative;
    border-radius: 0.35rem;
}

.check input:checked{
    background-color: var(--ry-blue);
}

.check input:checked::before{
    content: '✔';
    position: absolute;
    color: var(--dk-text);
    font-size:1.05rem;
    font-weight: 600;
    left:50%;
    top:-0.6rem;
    transform: translateX(-50%)  translateY(40%);
}


.check label{
    color: var(--lt-text);
    font-size:1.25rem;
    letter-spacing: 0.75px;

}

.generateButton {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--lt-background);
    text-align: center;
    border-radius: 0.75rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--pl-white);
    font-weight: 600;
    font-size: 1.25rem;
    cursor:pointer;
  }


  .slider{
    appearance: none;
    width: 100%;
    height: 0.75rem;
    border: none;
    outline: none;
    cursor:pointer;
    background-color: rgb(217, 215, 215);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(var(--ry-blue), var(--ry-blue));
    background-repeat: no-repeat;
  }

  .slider::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--ry-blue);
    cursor: pointer;
    margin-top: -3px;
    transition: all 100ms linear;
    box-shadow: 0px 0px 20px 0px rgba(17, 203, 224, 0.5);
  }

  .slider:focus{
    outline: 3px solid var(--pl-white);
  }

  .slider::-webkit-slider-thumb:hover{
    outline: 2px solid var(--ry-blue);
    background-color: var(--ry-blue);
  }

  .copyBtn{
    background-color: transparent;
    border: none;
  }

  .copyMsg{
    position: absolute;
    height: 25px;
    width: 70px;
    color: var(--pl-white);
    font-weight: bold;
    background-color: var(--ry-blue);
    border-radius: 0%;
    scale: 0; 
    top: -40px;
    right: -20px;
    padding: 0.3rem;
    transition: all 0.1s linear;
   }

  .active{
    scale: 1;
  }  

  nav{
    width: 90%;
    background-color: transparent;
    position: absolute;
    top: 0;
    margin: 0;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    border-radius: 3rem;
    margin-top: 0.2rem;
}

.logo{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--lt-background);
    margin-left:1rem;
    margin-top: 3px;
    font-size: 1.8rem;
    padding: 0.35rem;
}


.themeChanger{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--lt-background);
    border: none;
    margin-top: 3px;
    margin-right: 1rem;
    font-size: 1.8rem;
    padding: 0.35rem;
    cursor: pointer;
}

.bg-body-dark{
    background-color: rgb(9, 9, 44);
    background: linear-gradient(90deg, rgb(9, 9, 44), rgb(9, 9, 44) 0%, rgb(9, 9, 44) 100%);
}

.shadow{
    box-shadow: rgba(231, 230, 230, 0.35) 0px 5px 15px;
}


